Repository jagadeeshi2i/serve, changes with the owners that CODEOWNERS names for each.
All owners: @msaroufim, @lxning, @agunapal, @mreso, @min-jean-cho, @jagadeeshi2i, @HamidShojanazeri, @sekyondaMeta

dev change
  .github/workflows/docker-nightly-build.yml
Owners: @agunapal, @msaroufim

test-6
  README.md
Owners: @msaroufim, @lxning, @agunapal

Modified .yml file
  .github/workflows/docker-nightly-build.yml
Owners: @agunapal, @msaroufim

add custom tage
  kubernetes/kserve/build_image.sh
Owners: @jagadeeshi2i, @agunapal

add custom tag-1
  kubernetes/kserve/build_image.sh
Owners: @jagadeeshi2i, @agunapal

add custom tag-1
  kubernetes/kserve/build_image.sh
Owners: @jagadeeshi2i, @agunapal

test
  .github/workflows/docker-nightly-build.yml
  kubernetes/kserve/build_image.sh
Owners: @agunapal, @msaroufim, @jagadeeshi2i

test-1
  kubernetes/kserve/docker_nightly.py
Owners: @jagadeeshi2i, @agunapal

test-2
  kubernetes/kserve/docker_nightly.py
Owners: @jagadeeshi2i, @agunapal

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @msaroufim @lxning @agunapal

# The 3 most dangerous folders to change are the following
# So do not merge code unless you are absolutely sure it works
# If you're unsure add more people to review
/ts/ @msaroufim @mreso
/frontend/ @lxning @min-jean-cho @mreso
/kubernetes/ @jagadeeshi2i @agunapal

# General owners of various directories
# Add more rules here as needed
/examples/ @HamidShojanazeri @agunapal
/test/ @mreso @agunapal
.github @agunapal @msaroufim
/binaries @agunapal @msaroufim
/ts_scripts/ @mreso @msaroufim
/plugins/ @lxning @mreso
/docs/ @sekyondaMeta @msaroufim
/requirements/ @agunapal @msaroufim
/docker/ @agunapal @msaroufim
/benchmarks/ @lxning @agunapal
